{% extends 'basic.html' %}
{% block title %}Welcome to Kokani Kitchen | About Us{% endblock %}

{% block css %}
{% load static %}
<style>
.zomato:hover { 
		transition: 0.5s;
		padding-right: 10px; 
	}	
.nav-item:hover {
	background-color: orange;
}
.review:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 }	
.aboutimg {
	border-radius: 60%;
}
@media (max-width: 544px) {
	.aboutpara {font-size:1rem;}
	.today {top: 15%; right: 0; position: fixed; z-index: 100; width: 175px;background-image: url('{% static 'fishcol.png' %}'); background-repeat: no-repeat; background-size: 175px;}
	.today_margin {padding: 2px; margin-right: 31px; margin-top: 17px;}
	.today_text {font-size: 11px;}
}
@media (min-width: 992px) {
	.aboutpara {font-size:1.2rem;}
	.today {top: 15%; right: 0; position: fixed; z-index: 100; width: 250px; background-image: url('{% static 'fishcol.png' %}'); background-repeat: no-repeat; background-size: 250px;}
	.today_margin {padding: 2px; margin-right: 45px; margin-top: 24px;}
}
</style>
{% endblock %}

{% block body %}
{% load static %}
<div class="container about mt-5">
	<div class="row" style="padding-bottom: 50px">
		<div class="col-md-4">
			<img class="img-fluid aboutimg" src="{% static 'aboutpic1.jpg' %}" height="300px">
		</div>
		<div class="col-md-8">
			<p class="aboutpara" style="color: white; padding-top:30px">Hey there, I'm Tommy Cruise. I live in Pune, Maharashtra. I started this business with my wife. My wife, Selena, is a such a great Cook, so I thought why not open an online restaurant business, Let others also get the pleasure. </p>
		</div>		
	</div>
	<div class="row" style="padding-bottom: 20px">
		<div class="col-md-8">
			<p class="aboutpara" style="color: white; padding-top:30px">American actor Mark Wahlberg is one of a handful of respected entertainers who successfully made the transition from teen pop idol to acclaimed actor. A Best Supporting Actor Oscar nominee for The Departed (2006) who went on to receive positive critical reviews for his performance in The Fighter (2010), Wahlberg also is a solid comedy actor, proven by his starring role in Ted (2012).</p>
		</div>
		<div class="col-md-4">
			<img class="img-fluid aboutimg" src="{% static 'aboutpic2.jpg' %}" height="300px">
		</div>		
	</div>
</div>
{% endblock %}

{% block js %}
<script>
	document.getElementById('about').setAttribute("class", "nav-item active");
</script>
{% endblock %}