{% extends 'basic.html' %}
{% block title %}Welcome to Kokani Kitchen | About Us{% endblock %}

{% block css %}
{% load static %}
<style>
.zomato:hover { 
		transition: 0.5s;
		padding-right: 10px; 
	}	
.nav-item:hover {
	background-color: orange;
}
.review:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 }	
.aboutimg {
	border-radius: 5%;
}
.aboutpara {
	color: white;
	font-weight: bold;
}
.card {
	background-color: #262626;
	border: 2px solid white;
	opacity: 0.8;
	padding: 15px;

}
@media (max-width: 544px) {
	.aboutpara {font-size:1rem;}
	.aboutimg {max-height: 175px;}
	.card {margin: 10px;}
}
@media ((min-width: 544px) and (max-width: 992px)) {
	.aboutpara {font-size:1.3rem;}
	.aboutimg {max-height: 175px;}
}
@media (min-width: 992px) {
	.aboutpara {font-size:1.5rem;}
	.aboutimg {max-height: 270px;}
}
</style>
{% endblock %}

{% block body %}
{% load static %}
<div class="container about mt-5">
	<div class="row">
		<div class="col-md-4" align="center">
			<img class="aboutimg" src="{% static 'logo.jpg' %}">
		</div>
		<div class="col-md-8 card">
			<p class="aboutpara">A konkani by food choices is always a konkani by heart.</p>
<p class="aboutpara">And how will something that is done with love and   compassion about the traditions , the warmth of your native be anything less then incredible?</p>

<p class="aboutpara">So here we are , hailing from the coastal region of the famous and authentic konkan.</p>

<p class="aboutpara">Ready to serve you the age old recipes with the hint of our innovation. Not to forget keeping the ancient flavour alive to be just, to your choice of the malvani tadka.</p>

<p class="aboutpara">We welcome you to relish on all the seafood  delicacies and much more at Relekar's konkani kitchen.</p>

<p class="aboutpara">Order food, get happiness along.</p>
		</div>		
	</div>
</div>
{% endblock %}

{% block js %}
<script>
	document.getElementById('about').setAttribute("class", "nav-item active");
</script>
{% endblock %}