{% extends 'basic.html' %}
{% block title %}Welcome to Kokani Kitchen | Menu{% endblock %}


{% block css %}
.card {
	width: 18rem; 
	margin: 10px; 
	background-color: orange; 
	font-weight: bold; 
	padding-top: 2px; 
	padding-left: 5px; 
	padding-right: 5px; 
	margin-bottom: 2px; 
	border: 2px solid white;
}
.content {
	color: black; 
	margin-top: 5px; 
	margin-left: 5px; 
	font-family: 'Grandstander'; 
	font-size:10px; 
}
{% endblock %}

{% block body %}
<div class="container" style="padding-top: 10px; padding-left: 130px;">
	<h4 style="font-weight: bold; color: white;">Misc</h4>
	<div class="row" style="padding: 10px;">
		{% for item in menu %}
		{% if item.category == 'Misc' %}
		<div class="card" style="width: 18rem; margin: 10px; background-color: orange; font-weight: bold; padding-top: 2px; padding-left: 5px; padding-right: 5px; margin-bottom: 2px; border: 2px solid white;">
			<p class="content">{{item.dname}}<span style="float: right; color: black;">{{item.dprice}}/-</span></p>
		</div>
		{% endif %}
		{% endfor %}
	</div><br>
</div>
{% endblock %}

{% block js %}
<script>
	document.getElementById('menu').setAttribute("class", "nav-item active");
</script>
{% endblock %}