{% extends 'basic.html' %}
{% block title %}Welcome to Kokani Kitchen | Reviews{% endblock %}

{% block css %}
.submit {
	background-color: orange;
	border-color: orange;
	color: white;
}
.submit:hover {
	 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
hr {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
{% endblock %}

{% block body %}
{% load static %}
<div class="container mt-5">
	<div class="row" style="padding-bottom: 20px;">
		<div class="col-md-6">
			{% for review in reviews reversed %}
			<div class="container-fluid bg-light">
				<br>
				<p class="" style="line-height: 0px;"><b>{{ review.name }}</b><span class="float-right">
				{% if review.ratings == '5' %}
					<img src="{% static '5star.png' %}" height="20px">
				{% elif review.ratings == '4' %}
					<img src="{% static '4star.png' %}" height="20px">
				{% elif review.ratings == '3' %}
					<img src="{% static '3star.png' %}" height="20px">
				{% elif review.ratings == '2' %}
					<img src="{% static '2star.png' %}" height="20px">
				{% elif review.ratings == '1' %}
					<img src="{% static '1star.png' %}" height="20px">	
				{% endif %}
				</span></p>
				<small>{{ review.date }}</small>
				<p class="" style="font-size: 15px; line-height: 50px">"{{review.review}}"</p>
			</div>	
			{% endfor %}
		</div>
		<div class="container-fluid col-md-4" style="margin-right: 10px">
			 <video width="400" height="320" controls>
			  <source src="{% static 'cooking_fish.mp4' %}" type="video/mp4">
	
			Your browser does not support the video tag.
			</video> 
		</div>
	</div>	
	
</div>
{% endblock %}

{% block js %}
<script>
	document.getElementById('reviews').setAttribute("class", "nav-item active");
</script>
{% endblock %}