{% extends 'basic.html' %}
{% block title %}Welcome to Kokani Kitchen | Reviews{% endblock %}

{% block css %}
<style>
.zomato:hover { 
		transition: 0.5s;
		padding-right: 10px; 
	}	
.nav-item:hover {
	background-color: orange;
}
.review:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 }	
.name {
	margin-bottom: 2px;
}
.review {
	margin-top: 5px;
} 	 	
@media (max-width: 544px) {
	.review {font-size:1.2rem;}
	.date {font-size:0.8rem;}
	.name {font-size:1.0rem;}
	.ratings {width:90px;}
	.img {height: 215px;}
}
@media ((min-width: 500px) and (max-width: 800px)) {
	.review {font-size:1.2rem;}
	.date {font-size:0.8rem;}
	.name {font-size:1.0rem;}
	.ratings {width:90px;}
	.img {height: 215px;}
}
@media (min-width: 992px) {
	.review {font-size: 15px;}
	.ratings {width:110px;}
	.img {height: 420px;margin-left: 35px;}
}
</style>
{% endblock %}

{% block body %}
{% load static %}
<div class="container mt-5">
	<div class="row" style="padding-bottom: 20px;">
		<div class="col-md-6">
			{% for review in reviews reversed %}
			<div class="card mb-5 bg-light" style="padding: 10px;">
				<br>
				<p class="name"><b>{{ review.name }}</b><span class="float-right">
				{% if review.ratings == '5' %}
					<img class="ratings" src="{% static '5star.png' %}">
				{% elif review.ratings == '4' %}
					<img class="ratings" src="{% static '4star.png' %}">
				{% elif review.ratings == '3' %}
					<img class="ratings" src="{% static '3star.png' %}">
				{% elif review.ratings == '2' %}
					<img class="ratings" src="{% static '2star.png' %}">
				{% elif review.ratings == '1' %}
					<img class="ratings" src="{% static '1star.png' %}">	
				{% endif %}
				</span></p>
				<small class="date">{{ review.date }}</small>
				<p class="review">"{{review.review}}"</p>
			</div>	
			{% endfor %}
		</div>
		<div class="container-fluid col-md-6" align="center">
			 <img class="img mt-5" src="{% static 'collage1.jpg' %}">
		</div>
	</div>	
	
</div>
{% endblock %}

{% block js %}
<script>
	document.getElementById('reviews').setAttribute("class", "nav-item active");
</script>
{% endblock %}